html, body {
  margin: 0;
  padding: 0;
}

#a1{
font-size: 18px;
position:absolute;
transform: translate(50px,0);
opacity: 1;
}

#a2{

font-size: 26px;
position:absolute;
transform: translate(20px,10px);
}

#a3{
font-size: 20px;
position:absolute;
transform: translate(20px,30px);
}

#a4{

font-size: 24px;
position:absolute;
transform: translate(20px,50px);
}

#a5{
font-size: 36px;
position:absolute;
transform: translate(20px,70px);

}



#a10{
font-size: 18px;
position:absolute;
transform: translate(600px,10px);
}

#a9{
font-size: 26px;
position:absolute;
transform: translate(620px,90px);
}

#a8{
font-size: 20px;
position:absolute;
transform: translate(620px,100px);
}

#a7{

font-size: 24px;
position:absolute;
transform: translate(620px,130px);
}

#a6{
font-size: 36px;
position:absolute;
transform: translate(620px,150px);

}




#a14{
font-size: 18px;
position:absolute;
transform: translate(300px,200px);
}

#a12{

font-size: 26px;
position:absolute;
transform: translate(320px,90px);
}

#a11{
font-size: 20px;
position:absolute;
transform: translate(320px,200px);
}

#a13{

font-size: 24px;
position:absolute;
transform: translate(320px,130px);
}

#a15{
font-size: 36px;
position:absolute;
transform: translate(320px,100px);

}
